In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\smahm\anaconda3\lib\site-packages (1.0.3)Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import pymysql

In [1]:
#All JSON files 

import json
business = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_business.json'
review = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_review.json'
tip = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_tip.json'
user = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_user.json'

In [4]:
data_load = [json.loads(line) for line in open(business, 'r',encoding='utf-8')]  #Read json file into a list

print(len(data_load))  #150346
print(data_load[0])

150346
{'business_id': 'Pns2l4eNsfO8kk83dixA6A', 'name': 'Abby Rappoport, LAC, CMQ', 'address': '1616 Chapala St, Ste 2', 'city': 'Santa Barbara', 'state': 'CA', 'postal_code': '93101', 'latitude': 34.4266787, 'longitude': -119.7111968, 'stars': 5.0, 'review_count': 7, 'is_open': 0, 'attributes': {'ByAppointmentOnly': 'True'}, 'categories': 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'hours': None}

In [6]:
# Creates DataFrame from the list

df = pd.DataFrame(data_load).set_index('business_id')  
df.head(3)

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
business_id,,,,,,,,,,,,,
Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."

In [7]:
# Removing columns that we do not need for analysis

df2 = df.drop('attributes', axis=1)
df2 = df2.drop('hours', axis=1)
df2.head(2)

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
business_id,,,,,,,,,,,
Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."

In [8]:
# import the module

from sqlalchemy import create_engine

# create sqlalchemy engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@database-1-yelp-data.c4d8re67ta4m.us-east-2.rds.amazonaws.com/{db}"
                       .format(user=<insert username>,
                               pw=<insert password>,
                               db=<insert Database Name>))

In [9]:
# Insert whole DataFrame into MySQL

df2.to_sql('business', con = engine, if_exists = 'append')

150346