In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\smahm\anaconda3\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import pymysql

In [3]:
import json
business = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_business.json'
review = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_review.json'
tip = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_tip.json'
user = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_user.json'
checkin = 'C:\\Users\\smahm\\Downloads\\archive(1)\\yelp_academic_dataset_checkin.json'

In [4]:

data_load = [json.loads(line) for line in open(checkin, 'r',encoding='utf-8')]

print(len(data_load)) # 131930
print(data_load[0])

131930
{'business_id': '---kPU91CF4Lq2-WlRu9Lw', 'date': '2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50'}

In [ ]:
'''
for line in open(business, 'r',encoding='utf-8'):
    data_load1 = [json.loads(line)]
    print(data_load1)
    break
'''

In [8]:
# Creates DataFrame.
df = pd.DataFrame(data_load).set_index('business_id')
df.rename(columns = {'date':'checkin_date'}, inplace = True)
df.head(3)

                                                             checkin_date
business_id
---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
--0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
--30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22

In [9]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@database-1-yelp-data.c4d8re67ta4m.us-east-2.rds.amazonaws.com/{db}"
                       .format(user=<insert username>,
                               pw=<insert password>,
                               db=<insert Database Name>))

In [10]:
# Insert whole DataFrame into MySQL
df.to_sql('checkin', con = engine, if_exists = 'append')

131930